<h1><%=@user.username%>'s Makeup Bag</h1>
<br>
<a href="/items/add">Add an item to your bag</a>
<br><br>

<%if @user.items.empty?%>
	<p>Your bag is empty.</p>
	<% else %>
		<table>
			 <tr>
				 <th>NAME</th><th>TYPE</th><th>COLOR</th>
			 </tr>
			 <%@user.items.each do |item|%>
				<tr>
					<td><a href="/items/<%=item.id%>"><%=item.name%></a></td>
					<td><%=item.type_of_item if item.type_of_item != nil%></td>
					<td><%=item.color%></td>
				</tr>
			 <%end%>
		</table>
<%end%>
<br>
<a href="/logout">Logout</a>
