<h1><%=@user.username%>'s Makeup Bag</h1>
<br>
<%if @items.empty?%>
	<p>Your bag is empty.</p>
	<% else %>
		<table>
			 <tr>
				 <th><a href="/order/name/asc">&#9652;</a>NAME<a href="/order/name/desc">&#9662;</a></th>
				 <th>TYPE</th><th>BRAND</th><th>COLOR</th><th>FAV</th><th>MORE</th>
			 </tr>
			 <%@items.each do |item|%>
				<tr>
					<td><a href="/items/<%=item.id%>"><%=item.name%></a></td>
					<td><%=item.type_of_item if item.type_of_item != nil%></td>
					<td><%=Brand.find_by(id: item.brand_id).name if item.brand_id != nil%></td>
					<td><%=item.color%></td>
					<td>
					<%if item.favorite%>
						&#10024;
					<%end%>
					</td>
					<td>
					<%if item.need_more%>
						&#10071;
					<%end%>
					</td>
				</tr>
			 <%end%>
		</table>
<%end%>
<br>
<a href="/items/add">Add an item to your Bag</a>
<br><br>
<a href="/logout">Logout</a>
