<h1>Edit</h1>
<br>
<a href="/items/<%=@item.id%>">Back to Item</a>
<br><br>
<a href="/bag">Back to Bag</a>
<br><br>
<form action="/items/<%=@item.id%>" method="POST">
  <input type="hidden" name="_method" value="patch">
	<table>
		<tr>
			<td>&#10020; Name:</td>
			<td><input type="text" name="item[name]" placeholder="<%=@item.name%>"></td>
		</tr>
		<tr>
			<td>&#10020; Type:</td>
			<td><input type="text" name="item[type_of_item]" placeholder="<%=@item.type_of_item%>"></td>
		<%if @user.items.count > 1%>
		<tr>
			<td></td>
			<td>
				<select name="item_type">
					<option disabled selected>...or choose existing</option>
          <%@types = @user.items.collect {|item| item.type_of_item}.uniq%>
          <%@types.each do |type|%>
            <option value="<%=type%>"><%=type%></option>
					<%end%>
				</select>
			</td>
		</tr>
		<%end%>
		</tr>
    <tr>
      <td>&#10020; Brand:</td>
      <td><input type="text" name="brand[name]" placeholder="<%=Brand.find_by(id: @item.brand_id).name%>"></td>
    </tr>
    <% if @user.brands.count > 1 %>
    <tr>
      <td></td>
      <td>
        <select name="brand_name">
          <option disabled selected>...or choose existing</option>
          <%@user.brands.uniq.each do |brand|%>
            <option value="<%=brand.name%>"><%=brand.name%></option>
          <%end%>
        </select>
      </td>
    </tr>
    <% end %>
		<tr>
			<td>Color:</td>
			<td><input type="text" name="item[color]" placeholder="<%=@item.color%>"></td>
		</tr>
    <tr>
    	<td>Favorite?</td>
    	<%if @item.favorite%>
    		<td><input type="checkbox" name="item[favorite]" checked>&#10024;</td>
    	<%else%>
    		<td><input type="checkbox" name="item[favorite]">&#10024;</td>
    	<%end%>
    </tr>
    <tr>
    	<td>Need more?</td>
    	<%if @item.need_more%>
    		<td><input type="checkbox" name="item[need_more]" checked>&#10071;</td>
    	<%else%>
    		<td><input type="checkbox" name="item[need_more]">&#10071;</td>
    	<%end%>
    </tr>
	</table>
  <p>&#10020; required ~ please do not use special characters</p>
	<input type="submit" value="Save">
</form>
<br>
<a href="/logout">Logout</a>
